
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300&family=Roboto&family=Sora:wght@500&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(30,30,30);
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}
nav .logo{
  color: #fff;
  margin-right: 10rem;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(9,16,148);
  width: 100%;
  padding: 2rem;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 30%;
  margin-right: 10rem;

}
input{
  width: 4rem;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 3rem;
  outline: none;
}


#blue{
  background-color: rgb(9,16,148);
  color: #fff;
}

#white{
  background-color: #fff;
  color: rgb(14, 26, 249);
}

form{
  display: flex;
  justify-content: space-evenly;
  gap: 6px;
}


.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}
/* icons */
.fa-solid{
  color: #fff;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  min-height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3 ease;
}

.container{
background: linear-gradient(rgba(11, 30, 175, 0.5), rgba(0, 0, 0, 0.5)),  url(/img/Rectangle\ 23.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
}
.green{
  color: rgb(13, 243, 13);
}
.text h1{
  text-align: center;
  letter-spacing: 4px;
  align-items: center;
  padding-top: 6rem;
  top: 3;
  color: #fff;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.btop{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem;
}

button{
  background-color: blue;
  color: #fff;
  outline: none;
  border: 0;
  width: 8rem;
  height: 2rem;
  border-radius: 4rem;
}
 

@media screen and (max-width: 768px){
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(9,16,148);
    width: 100%;  
  }
  .text{
    text-align: center;
    align-content: center;
    text-transform: normal;
    color: #fff;
  }
  
  .nav-links {
    width: 100%;
    position: absolute;
    right: 0px;
    padding: 5rem;
    height: 26rem;
    top: 12vh;
    padding-top: 1rem;
    margin: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 4s ease-in;
  }

  .nav-links li{
    opacity: 1;
  }
  .burger {
    display: block;
  }


#para{
  font-size: 10px;
  line-height: 2rem;
}

.glop{
  /* border: 2px solid #fff; */
  margin-right: 10px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  /* padding: 6px; */
  margin-top: 1rem;
}

.pop img{
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

}
}

/* Meida ends */

.nav-active {
  transform: translateX(0%);
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  background-color: #FFf;
  /* margin-top: 26px; */
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  max-height: 5%;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.main{
  display: grid;
  grid-template-columns: auto auto;
  gap:2rem;
  align-items: center;
  color: #FFf;
  background-color: #043057;
}

.pop img{
  width: 100%;
  height: 80%;
  margin-left: 1rem;

}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}