
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;300&family=Roboto&family=Sora:wght@500&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(30,30,30);
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}
nav .logo{
  color: #fff;
  margin-right: 10rem;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(9,16,148);
  width: 100%;
  padding: 2rem;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 30%;
  margin-right: 10rem;

}
input{
  width: 4rem;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 3rem;
  outline: none;
}


#blue{
  background-color: rgb(9,16,148);
  color: #fff;
}

#white{
  background-color: #fff;
  color: rgb(14, 26, 249);
}

form{
  display: flex;
  justify-content: space-evenly;
  gap: 6px;
}


.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}
/* icons */
.fa-solid{
  color: #fff;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  min-height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3 ease;
}

.container{
background: linear-gradient(rgba(11, 30, 175, 0.5), rgba(0, 0, 0, 0.5)),  url(/img/Rectangle\ 23.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
}
.green{
  color: rgb(13, 243, 13);
}
.text h1{
  text-align: center;
  letter-spacing: 4px;
  align-items: center;
  padding-top: 6rem;
  top: 3;
  color: #fff;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.btop{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem;
  padding-top: 1rem;
}

button{
  background-color: rgb(13, 13, 83);
  color: #fff;
  outline: none;
  border: 0;
  width: 8rem;
  height: 3rem;
  border-radius: 4rem;
  font-family: "Roboto", sans-serif;
}
 

@media screen and (max-width: 768px){
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(9,16,148);
    width: 100%;  
  }
  .text{
    text-align: center;
    align-content: center;
    text-transform: normal;
    color: #fff;
  }
  
  .nav-links {
    width: 100%;
    position: absolute;
    right: 0px;
    padding: 5rem;
    height: 20rem;
    top: 12vh;
    padding-top: 1rem;
    margin: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 4s ease-in;
  }

  .nav-links li{
    opacity: 1;
  }
  .burger {
    display: block;
  }


#para{
  font-size: 10px;
  line-height: 2rem;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.rows{
  display: flex;
  position: relative;
  gap: 2px;
  overflow-x: auto;
  animation: forwards 1s ease infinite;
  transition: all 0.5s ease-in-out;
}

}

/* Meida ends */

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


.allslide img{
  width: 10rem;
}

.rows{
  display: flex;
  position: relative;
  gap: 2px;
  overflow-x: scroll;
  animation: forwards 1s ease infinite;
  transition: all 0.5s ease-in-out;
}

.allslide{
  background-color: rgb(16, 5, 137);
}



.rows .slide4 img{
  height: 100%;
}



span p{
  text-align: center;
  /* border: 2px solid rgb(216, 202, 238); */
  background-color: #f3f3fa;
  color: rgb(23, 17, 17);
  padding: 3px;
  font-family: "Roboto", sans-serif;
}



.box{
  background-color: #091094;
  margin: 2rem 0;
}
.col1{
  display: flex;
  justify-content: center;
  background-image: url(/img/daniel-schaffer-25TdvIG_G6s-unsplash.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 40rem;
  transition: all 1s ease-in-out;
  animation: round 1s ease-in-out infinite;
}

@keyframes round{
  from{
    background-image: url(/img/hannah-busing-FF049vNP1eg-unsplash\ \(copy\).jpg);
  }
  to{
    background-image: url(/img/nathan-mullet-pmiW630yDPE-unsplash\ \(copy\).jpg);
  }
}
.col1 img{
  width: 20rem;
  height: 20rem;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.col2{
  display: flex;
  border: 1px solid #fff;
  width: 20rem;
  height: auto;
  border-top-left-radius: 2rem;
  color: #fff;
  margin: 1rem;
}
span h2{
  text-align: center;
  /* padding: 2rem; */
}
section p{
  padding: 10px;
}
span .fa-sharp{
  margin-left: 1rem;
  margin-top: 1rem;;
}